<!DOCTYPE html>
<html lang="en">
  <head>
    <title>shrt</title>
    <%- include("../components/head") %>
  </head>
  <body>
    <!---->
    <%- include("../components/normalize") %>
    <!---->
    <%- include("../components/styles") %>
    <!---->

    <header>
      <h2>😢 link not found 😢</h2>
      <p>There's probably typo on the url</p>
      <hr />
      <!---->
      <%- include("../components/header") %>
      <!---->
    </header>
    <main>
      <!---->
      <%- include("../components/form") %>
      <!---->
    </main>
  </body>
  <!---->
  <%- include("../components/script") %>
  <!---->
</html>
